In [2]:
import pandas as pd
print(pd.__version__)  # Check if pandas is correctly installed and shows the version

2.2.3

In [ ]:
import pandas as pd
file_path = 'C:/Users/dell/Downloads/sample_data.xlsx'
try:
    # Load the Excel file
    excel_file = pd.ExcelFile(file_path)
    # Print sheet names
    print("Sheet Names:", excel_file.sheet_names)
    # Parse and print both sheets
    sheet1 = excel_file.parse('Sheet1')
    sheet2 = excel_file.parse('Sheet2')
    print("\nSheet 1 Content:")
    print(sheet1)
    print("\nSheet 2 Content:")
    print(sheet2)
except FileNotFoundError:
    print(f"Error: The file {file_path} was not found. Please check the path.")
except ImportError as e:
    print(f"Error: {e}. Try installing missing dependencies with:\n"
          "python -m pip install openpyxl")

Sheet Names: ['Sheet1', 'Sheet2']

Sheet 1 Content:
     Name  Age  Subject
0     Ali   25     Math
1    Sara   23  English
2  Kamran   35  History
3    Amir   29  Science
4  Fatima   22     Math

Sheet 2 Content:
    ID  Salary Department
0  101   30000         HR
1  102   40000    Finance
2  103   50000         IT
3  104   60000  Marketing
4  105   70000      Sales

In [ ]:
import pandas as pd
data = {
    'Math': [85, 90, 78, 92, 88],
    'Science': [80, 95, 89, 85, 87],
    'English': [88, 76, 90, 94, 91],
    'History': [75, 85, 89, 78, 80]
}
df = pd.DataFrame(data, index=['Ali', 'Amir', 'Kamran', 'Sara', 'Fatima'])
# Print the DataFrame
print("DataFrame for Task 2:")
print(df)

DataFrame for Task 2:
        Math  Science  English  History
Ali       85       80       88       75
Amir      90       95       76       85
Kamran    78       89       90       89
Sara      92       85       94       78
Fatima    88       87       91       80

In [ ]:
import pandas as pd
file_path = 'C:/Users/dell/Downloads/sample_data.xlsx'
df = pd.read_excel(file_path, usecols=[0, 1], sheet_name='Sheet1')
print("First two columns from Sheet1:")
print(df)

First two columns from Sheet1:
     Name  Age
0     Ali   25
1    Sara   23
2  Kamran   35
3    Amir   29
4  Fatima   22

In [ ]:
import pandas as pd
file_path = 'C:/Users/dell/Downloads/sample_data.xlsx'
df = pd.read_excel(file_path, skiprows=2, sheet_name='Sheet1')
print("Data after skipping the first two rows:")
print(df)

Data after skipping the first two rows:
     Sara  23  English
0  Kamran  35  History
1    Amir  29  Science
2  Fatima  22     Math

In [ ]:
import pandas as pd
file_path = './employees_extended.xlsx' 
df = pd.read_excel(file_path)
df = df.assign(Gender=df['Gender'].fillna('No Gender'))
print("Rows 10 to 30 after filling missing values:")
print(df.iloc[10:30])
print(f"Total number of rows: {len(df)}")
print("First few rows:")
print(df.head())

Rows 10 to 30 after filling missing values:
    ID    Name     Gender  Age
10  11   Ahsan       Male   29
11  12    Zain  No Gender   34
12  13    Saad       Male   31
13  14    Hina     Female   23
14  15    Sana     Female   25
15  16   Bilal  No Gender   32
16  17   Adeel       Male   28
17  18    Iqra     Female   22
18  19  Areeba     Female   24
19  20  Junaid  No Gender   29
20  21    Anam  No Gender   30
21  22   Rehan       Male   35
22  23    Taha       Male   27
23  24   Lubna     Female   26
24  25    Raza       Male   34
25  26  Farooq  No Gender   31
26  27   Owais       Male   33
27  28  Danish       Male   28
28  29   Rabia     Female   22
29  30    Aqsa     Female   21
Total number of rows: 35
First few rows:
   ID    Name     Gender  Age
0   1     Ali       Male   25
1   2    Sara     Female   22
2   3  Kamran  No Gender   30
3   4    Amir       Male   28
4   5  Fatima     Female   21

In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
data = {
    'Age': [25, 30, 35, 40, 45, 50, 55, 60, 65, 70],
    'Salary': [30000, 35000, 40000, 45000, 50000, 55000, 60000, 65000, 70000, 75000]
}
df = pd.DataFrame(data)
print("Original Data:")
print(df)
scaler = MinMaxScaler()
normalized_data = scaler.fit_transform(df)
df_normalized = pd.DataFrame(normalized_data, columns=df.columns)
print("\nNormalized Data:")
print(df_normalized)

Original Data:
   Age  Salary
0   25   30000
1   30   35000
2   35   40000
3   40   45000
4   45   50000
5   50   55000
6   55   60000
7   60   65000
8   65   70000
9   70   75000

Normalized Data:
        Age    Salary
0  0.000000  0.000000
1  0.111111  0.111111
2  0.222222  0.222222
3  0.333333  0.333333
4  0.444444  0.444444
5  0.555556  0.555556
6  0.666667  0.666667
7  0.777778  0.777778
8  0.888889  0.888889
9  1.000000  1.000000

In [22]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Sample dataset with Age and Salary columns
data = {
    'Age': [25, 30, 35, 40, 45, 50, 55, 60, 65, 70],
    'Salary': [30000, 35000, 40000, 45000, 50000, 55000, 60000, 65000, 70000, 75000]
}

# Create a DataFrame
df = pd.DataFrame(data)

print("Original Data:")
print(df)

# Apply StandardScaler for standardization
scaler = StandardScaler()
standardized_data = scaler.fit_transform(df)

# Create a DataFrame for standardized values
df_standardized = pd.DataFrame(standardized_data, columns=df.columns)

print("\nStandardized Data:")
print(df_standardized)

Original Data:
   Age  Salary
0   25   30000
1   30   35000
2   35   40000
3   40   45000
4   45   50000
5   50   55000
6   55   60000
7   60   65000
8   65   70000
9   70   75000

Standardized Data:
        Age    Salary
0 -1.566699 -1.566699
1 -1.218544 -1.218544
2 -0.870388 -0.870388
3 -0.522233 -0.522233
4 -0.174078 -0.174078
5  0.174078  0.174078
6  0.522233  0.522233
7  0.870388  0.870388
8  1.218544  1.218544
9  1.566699  1.566699

In [24]:
import pandas as pd
import numpy as np

# Given dictionary
data = {
    'First Score': [100, 90, np.nan, 95],
    'Second Score': [30, 45, 56, np.nan],
    'Third Score': [np.nan, 40, 80, 98]
}

# Create a DataFrame
df = pd.DataFrame(data)

print("Original Data:")
print(df)

# Apply backward interpolation
df_interpolated = df.interpolate(method='linear', limit_direction='backward')

print("\nData After Backward Interpolation:")
print(df_interpolated)

Original Data:
   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2          NaN          56.0         80.0
3         95.0           NaN         98.0

Data After Backward Interpolation:
   First Score  Second Score  Third Score
0        100.0          30.0         40.0
1         90.0          45.0         40.0
2         92.5          56.0         80.0
3         95.0           NaN         98.0

In [25]:
import pandas as pd

# Provide the correct path to the dataset (adjust path if needed)
file_path = "../../../Kaggle-Datasets/MovieLens/rating.csv"

# Load the ratings dataset
df = pd.read_csv(file_path)

# Display the first few rows
print("First few rows of the dataset:")
print(df.head())

# Check for missing values
print("\nMissing Values in the Dataset:")
print(df.isnull().sum())

First few rows of the dataset:
   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

Missing Values in the Dataset:
userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [1]:
import pandas as pd

# Provide the correct path to the dataset (adjust path if needed)
file_path = "../../../Kaggle-Datasets/MovieLens/rating.csv"

# Load the ratings dataset
df = pd.read_csv(file_path)

# Fill missing values (if any) with 0
df_filled = df.fillna(0)

print("Dataset after filling missing values:")
print(df_filled.head())

Dataset after filling missing values:
   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40